@font-face { font-family: pixel; src: url("Azonix.ttf"); }

body{
    display: flex;
    background-color: white;
    background-image: linear-gradient(45deg, #ff7195, #ff77b7, #fa68ff, #c368ff, #9c71ff, #8e8cff);
    background-size: 400%;
    animation: animate 6s infinite ease-in-out alternate;
}

@keyframes animate {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.title1{
    font-size: 60px;
    font-family: pixel;
    color: white;
    position: fixed;
    left: 760px;
    top: 100px;
}


.cred{
    font-size: 30px;
    font-family: pixel;
    color: white;
    position: fixed;
    left: 740px;
    top: 200px;
}

.start{
    font-size: 30px;
    font-family: pixel;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    width: 300px;
    height: 100px;
    position: fixed;
    top: 350px;
    left: 780px;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease;
    transition-delay: 0s;

    transition: transform 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.start:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: #8e8cff;
    transform: translateY(-10px)
}

.creds{
    font-size: 30px;
    font-family: pixel;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    width: 300px;
    height: 100px;
    position: fixed;
    top: 500px;
    left: 780px;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease;
    transition-delay: 0s;

    transition: transform 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.creds:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: #8e8cff;
    transform: translateY(-10px)
}