@font-face { font-family: pixel; src: url("Azonix.ttf"); }

body{
    display: flex;
    background-color: white;
    background-image: linear-gradient(45deg, #ff7195, #ff77b7, #fa68ff, #c368ff, #9c71ff, #8e8cff);
    background-size: 400%;
    animation: animate 6s infinite ease-in-out alternate;
}

@keyframes animate {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.zero1{
   width: 80px;
   height: 80px; 
   background-color: transparent;
   border-radius: 15px;
   border: 2px solid rgb(255, 255, 255);
   color: white;
   font-size: 20px;
   font-family: pixel;

   transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease;
    transition-delay: 0s;

    transition: transform 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.zero1:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: #8e8cff;
    transform: translateY(-10px)
    
}

.zerohalf1{
    width: 50px;
    height: 50px; 
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    font-size: 12px;
    font-family: pixel;


    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease;
    transition-delay: 0s;

    transition: transform 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }
 .zerohalf1:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: #8e8cff;
    transform: translateY(-10px)
}

.one1{
    width: 80px;
    height: 80px; 
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    font-size: 20px;
    font-family: pixel;

 
    transition-duration: 0.3s;
     transition-property: transform;
     transition-timing-function: ease;
     transition-delay: 0s;
 
     transition: transform 0.3s;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }
 
 .one1:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: #8e8cff;
    transform: translateY(-10px)
 }

 .onehalf1{
    width: 50px;
    height: 50px; 
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    font-size: 12px;
    font-family: pixel;


    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease;
    transition-delay: 0s;

    transition: transform 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }
 .onehalf1:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: #8e8cff;
    transform: translateY(-10px)
}

.two1{
    width: 80px;
    height: 80px; 
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    font-size: 20px;
    font-family: pixel;

 
    transition-duration: 0.3s;
     transition-property: transform;
     transition-timing-function: ease;
     transition-delay: 0s;
 
     transition: transform 0.3s;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }
 
 .two1:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: #8e8cff;
    transform: translateY(-10px)
 }

 .twohalf1{
    width: 50px;
    height: 50px; 
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    font-size: 12px;
    font-family: pixel;


    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease;
    transition-delay: 0s;

    transition: transform 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }
 .twohalf1:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: #8e8cff;
    transform: translateY(-10px)
}

.three1{
    width: 80px;
    height: 80px; 
    background-color: transparent;
   border-radius: 15px;
   border: 2px solid rgb(255, 255, 255);
   color: white;
    font-size: 20px;
    font-family: pixel;

 
    transition-duration: 0.3s;
     transition-property: transform;
     transition-timing-function: ease;
     transition-delay: 0s;
 
     transition: transform 0.3s;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }
 
 .three1:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: #8e8cff;
    transform: translateY(-10px)
 }

 
 .threehalf1{
    width: 50px;
    height: 50px; 
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    font-size: 12px;
    font-family: pixel;


    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease;
    transition-delay: 0s;

    transition: transform 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }
 .threehalf1:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: #8e8cff;
    transform: translateY(-10px)
}

.four1{
    width: 80px;
    height: 80px; 
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    font-size: 20px;
    font-family: pixel;

 
    transition-duration: 0.3s;
     transition-property: transform;
     transition-timing-function: ease;
     transition-delay: 0s;
 
     transition: transform 0.3s;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }
 
 .four1:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: #8e8cff;
    transform: translateY(-10px)
 }

 .fourhalf1{
    width: 50px;
    height: 50px; 
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    font-size: 12px;
    font-family: pixel;


    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease;
    transition-delay: 0s;

    transition: transform 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }
 .fourhalf1:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: #8e8cff;
    transform: translateY(-10px)
}
 
.five1{
    width: 80px;
    height: 80px; 
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    font-size: 20px;
    font-family: pixel;

 
    transition-duration: 0.3s;
     transition-property: transform;
     transition-timing-function: ease;
     transition-delay: 0s;
 
     transition: transform 0.3s;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }
 
 .five1:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: #8e8cff;
    transform: translateY(-10px)
 }

 .fivehalf1{
    width: 50px;
    height: 50px; 
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    font-size: 12px;
    font-family: pixel;


    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease;
    transition-delay: 0s;

    transition: transform 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }
 .fivehalf1:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: #8e8cff;
    transform: translateY(-10px)
}

.six1{
    width: 80px;
    height: 80px; 
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    font-size: 20px;
    font-family: pixel;

 
    transition-duration: 0.3s;
     transition-property: transform;
     transition-timing-function: ease;
     transition-delay: 0s;
 
     transition: transform 0.3s;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }
 
 .six1:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: #8e8cff;
    transform: translateY(-10px)
 }
 .sixhalf1{
    width: 50px;
    height: 50px; 
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    font-size: 12px;
    font-family: pixel;


    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease;
    transition-delay: 0s;

    transition: transform 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }
 .sixhalf1:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: #8e8cff;
    transform: translateY(-10px)
}

.seven1{
    width: 80px;
    height: 80px; 
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    font-size: 20px;
    font-family: pixel;

 
    transition-duration: 0.3s;
     transition-property: transform;
     transition-timing-function: ease;
     transition-delay: 0s;
 
     transition: transform 0.3s;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }
 
 .seven1:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: #8e8cff;
    transform: translateY(-10px)
 }

 .sevenhalf1{
    width: 50px;
    height: 50px; 
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    font-size: 12px;
    font-family: pixel;


    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease;
    transition-delay: 0s;

    transition: transform 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }
 .sevenhalf1:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: #8e8cff;
    transform: translateY(-10px)
}

.eight1{
    width: 80px;
    height: 80px; 
    background-color: transparent;
   border-radius: 15px;
   border: 2px solid rgb(255, 255, 255);
   color: white;
    font-size: 20px;
    font-family: pixel;

 
    transition-duration: 0.3s;
     transition-property: transform;
     transition-timing-function: ease;
     transition-delay: 0s;
 
     transition: transform 0.3s;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }
 
 .eight1:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: #8e8cff;
    transform: translateY(-10px)
 }

 .eighthalf1{
    width: 50px;
    height: 50px; 
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    font-size: 12px;
    font-family: pixel;


    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease;
    transition-delay: 0s;

    transition: transform 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }
 .eighthalf1:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: #8e8cff;
    transform: translateY(-10px)
}

.nine1{
    width: 80px;
    height: 80px; 
    background-color: transparent;
   border-radius: 15px;
   border: 2px solid rgb(255, 255, 255);
   color: white;
    font-size: 20px;
    font-family: pixel;

 
    transition-duration: 0.3s;
     transition-property: transform;
     transition-timing-function: ease;
     transition-delay: 0s;
 
     transition: transform 0.3s;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }
 
 .nine1:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: #8e8cff;
    transform: translateY(-10px)
 }

 .ninehalf1{
    width: 50px;
    height: 50px; 
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    font-size: 12px;
    font-family: pixel;


    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease;
    transition-delay: 0s;

    transition: transform 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }
 .ninehalf1:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: #8e8cff;
    transform: translateY(-10px)
}

.ten1{
    width: 80px;
    height: 80px; 
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    font-size: 20px;
    font-family: pixel;

 
    transition-duration: 0.3s;
     transition-property: transform;
     transition-timing-function: ease;
     transition-delay: 0s;
 
     transition: transform 0.3s;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
     z-index: 0;
 }
 
 .ten1:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: #8e8cff;
    transform: translateY(-10px)
 }

 .one{
    position: fixed;
    left: 200px;
    bottom: 200px;
   
 }

 .game1{
    position: fixed;
    top: 100px;
    left: 520px;
    border-radius: 15px;
    border: 2px solid white;
 }

 .bad{
font-family: pixel;
font-size: 25px;
position: fixed;
left: 160px;
bottom: 130px;
color: white;

 }

 .good{
    font-family: pixel;
    font-size: 25px;
    position: fixed;
    right: 160px;
    bottom: 130px;
    color: white;
    
     }